body {
    background-color: #ffc0cb; /* light pink */
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}
body {
    background-image: url("https://i.pinimg.com/originals/40/c1/48/40c1482a64c1906178c8bb51c96444ef.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    color: white;
}

h1 {
    color: #800080; /* purple */
    font-size: 50px;
}

p {
    color: #333;
    font-size: 24px;
}

img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
  }